.fs-7 {
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .custom-width {
      width: 100%;
  }
}

@media (min-width: 1000px) {
.custom-width {
    width: 80%;
}
}

@media (min-width: 1400px) {
  .custom-width {
      width: 70%;
  }
}

.custom-grid {
display: grid;
gap: 50px;
}

@media (max-width: 1000px) {
  .custom-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1001px) {
  .custom-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-grid-2 {
  display: grid;
  gap: 30px;
}

@media (max-width: 1000px) {
  .custom-grid-2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (min-width: 1001px) {
  .custom-grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.rounded-custom {
  border-radius: 1rem;
}

.custom-margin {
  margin-top: -2rem;
}
