.fs-7 {
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .custom-width {
      width: 100%;
  }
}

@media (min-width: 1000px) {
.custom-width {
    width: 80%;
}
}

@media (min-width: 1400px) {
  .custom-width {
      width: 70%;
  }
}

.grid-custom {
display: grid;
gap: 50px;
}

@media (max-width: 1000px) {
  .grid-custom {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1001px) {
  .grid-custom {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-custom-2 {
  display: grid;
  gap: 30px;
}

@media (max-width: 1000px) {
  .grid-custom-2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (min-width: 1001px) {
  .grid-custom-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.rounded-custom {
  border-radius: 1rem;
}

.margin-custom {
  margin-top: -2rem;
  margin-right: -0.5rem;
}

.text-blue-custom {
  color: #0066cc;
}

.form-check-input:checked {
  background-color: #0066cc;
  border-color: #0066cc;
  color: #0066cc;
}

.btn-primary-custom {
  background-color: #0066cc;
}

.btn-primary-outline-custom {
  border-color: #0066cc;
}
