@media (max-width: 1000px) {
    .custom-width {
        width: 100%;
    }
}

@media (min-width: 1000px) {
  .custom-width {
      width: 80%;
  }
}

  @media (min-width: 1400px) {
    .custom-width {
        width: 70%;
    }
}
