.fs-7 {
  font-size: 0.9rem;
}

.accordion-body-custom {
  padding: 0;
}

.accordion-item-custom {
  border: none;
}

.accordion-header-custom {
  border-bottom: none;
}

.accordion-button-custom {
  border: none;
  padding: 0 0 0.5rem;
  font-weight: 500;
}

.accordion-button-custom:not(.collapsed) {
  color: #212529;
  background-color: #fff;
  box-shadow: none;
}

.accordion-button-custom:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.main-custom {
  position: relative;
}

.filter-button-custom {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
}

.dropdown-menu-custom {
  min-width: 20rem;
  padding: 0;
}

.card-body-custom {
  position: relative;
}

.btn-hide-custom {
  position: absolute;
  top: 0;
  right: 0;
}

.img-upic-custom {
  width: 3rem;
  height: 3rem;
}

.img-upic-l-custom {
  width: 4rem;
  height: 4rem;
}

.dropdown-notes-custom {
  min-width: 25rem;
}
